.mainetn1 {
  width: 90%;
  margin: auto;
}
.firstetn {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hansoetn {
  width: 100%;
  height: 32.5rem;
  transition: all 0.5s;
}
.hansoetn img {
  width: 100%;
  height: 100%;
}
.hansoetn_P {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-100%);
  transition: all 0.5s;
}
.hansoetn_P p {
  text-transform: capitalize;
  margin: 0;
  font-size: 0.93rem;
  text-align: center;
}
.firstetn:hover .hansoetn_P {
  transform: translate(0%);
}
.firstetn:hover .hansoetn {
  transform: scale(1.4) rotate(-15deg);
}
.secetn {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.moneyheist {
  width: 100%;
  height: 32.5rem;
  transition: all 0.5s;
}
.moneyheist img {
  width: 100%;
  height: 100%;
}
.moneyheist_P {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-100%);
  transition: all 0.5s;
}
.moneyheist_P p {
  text-transform: capitalize;
  margin: 0;
  font-size: 0.93rem;
  text-align: center;
}
.secetn:hover .moneyheist_P {
  transform: translate(0%);
}
.secetn:hover .moneyheist {
  transform: scale(1.4) rotate(-15deg);
}

.thirdetn {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.jurassic {
  width: 100%;
  height: 32.5rem;
  transition: all 0.5s;
}
.jurassic img {
  width: 100%;
  height: 100%;
}
.jurassic_P {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-100%);
  transition: all 0.5s;
}
.jurassic_P p {
  text-transform: capitalize;
  margin: 0;
  font-size: 0.93rem;
  text-align: center;
}
.thirdetn:hover .jurassic_P {
  transform: translate(0%);
}
.thirdetn:hover .jurassic {
  transform: scale(1.4) rotate(-15deg);
}

.top {
  display: flex;
  color: #747474;
  margin: 0.5rem 0;
}
.link1 {
  display: flex;
  color: #747474;
  /* line-height: 18px; */
  /* padding: 0px 0px 0px 0px; */
}
/* .iconRightArrow {
} */
.top h4 {
  font-size: 0.93rem;
}
.sectop h1 {
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  text-transform: uppercase;
}


ol,
ul {
  padding-left: 0rem;
}

.tec {
  /* position: relative; */
  font-size: 0.875rem;
  margin: 10px 15px 10px 0;
  padding: 4px 8px 5px 8px;
  background-color: #262e67;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  top: 8px;
  text-transform: capitalize;
}
.tec:hover {
  background-color: var(--technology-bg);
  color: black;
}
.para {
  /* padding-right: 280px; */
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.625rem;
  color: #777;
  margin-top: 1.125rem;
}
.enter {
  padding-top: 6rem;
}

/* label */
.hansoetn_P .paragraph,
.moneyheist_P .paragraph,
.jurassic_P .paragraph {
  font-size: 1rem;
  width: 80%;
  color: #fff;
 
}
.hansoetn_P .movieName,
.moneyheist_P .movieName,
.jurassic_P .movieName {
  font-size: 1.1rem;
  font-weight: bold;
 
}
.hansoetn_P .castName,
.moneyheist_P .castName,
.jurassic_P .castName{
   color: aquamarine;
   text-align: center;
}
.iconstar{
  color: goldenrod;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .thirdetn {
    display: none;
  }
  .hansoetn {
    height: 28.125rem;
  }
  .moneyheist {
    height: 28.125rem;
  }
  .css-ewqgs-MuiGrid-root {
    gap: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .css-sr5gqk-MuiGrid-root {
    gap: 1rem;
  }
}
@media screen and (min-width: 720px) and (max-width: 1050px) {
  .css-sr5gqk-MuiGrid-root {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1450px) {
  .css-sr5gqk-MuiGrid-root {
    gap: 2.2rem;
  }
}
