.artphoto {
  width: 100%;
  height: 480px;
  cursor: pointer;
  box-shadow: 0.65em 0.65em 1em;
  margin-top: 1rem;
}
.artsection {
  padding-top: 6rem;
}
.artphoto img {
  width: 100%;
  height: 100%;
}
.artphoto img {
  width: 100%;
  height: 100%;
}

.artss {
  display: flex;
}
.artpara h1 {
  z-index: 6rem;
  white-space: normal;
  font-size: 80px;
  line-height: 5.625rem;
  font-weight: 400;
  color: #777777;
  /* color: rgb(10, 10, 10); */
  letter-spacing: -5px;
  font-family: "Playfair Display";
  margin-left: 3rem;
  margin-top: 1rem;
}

.datepara p {
  z-index: 7;
  white-space: normal;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #777777;
  font-family: Poppins;
  margin-left: 6rem;
  margin-top: 1rem;
}

.companypara {
  white-space: normal;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #777777;
  font-family: Poppins;
  margin-left: 6rem;
  margin-top: 3rem;
}
@media screen and (max-width: 810px) {
  .datepara p {
    font-size: 14px;
    margin-left: 5rem;
    margin-top: 0.5rem;
  }
  .companypara {
    font-size: 14px;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  .artpara h1 {
    font-size: 60px;
    line-height: 60px;
    margin-left: 3rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .artphoto {
    width: 80%;
    height: 400px;
    margin: 0 auto 1rem;
  }
}
