.top {
  display: flex;
  color: #747474;
  margin: 0.5rem 0;
}
.link1 {
  display: flex;
  color: #747474;
  /* line-height: 18px; */
  /* padding: 0px 0px 0px 0px; */
}
/* .iconRightArrow {
} */
.top h4 {
  font-size: 15px;
}
.sectop h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.technology {
  padding-top: 6rem;
}

ol,
ul {
  padding-left: 0rem;
}

.tec {
  /* position: relative; */
  font-size: 14px;
  margin: 10px 15px 10px 0;
  padding: 4px 8px 5px 8px;
  background-color: #262e67;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  top: 8px;
  text-transform: capitalize;
}
.tec:hover {
  background-color: var(--technology-bg);
  color: black;
}
.para {
  /* padding-right: 280px; */
  font-family: "Open Sans", "Open Sans Regular", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  color: #777;
  margin-top: 18px;
}
/* .para:hover {
  color: #262e67;
} */
.firstphoto {
  position: relative;
  overflow: hidden;
}
.firstpara {
  position: absolute;
  /* left: 20px; */
  bottom: 0px;
  padding-top: 1rem;
  /* box-shadow: inset 10px -123px 51px -28px rgba(73, 72, 72, 0.81); */
  box-shadow: inset 10px -109px 30px 4px rgba(24 23 23 / 81%);
  padding-bottom: 1rem;
  padding-left: 40px;
}
/* .technologypart {
  background-color: var(--technology-bg);
  color: white;
} */
/* .technologypart:hover {
  background-color: #262e67;
  color: white;
} */
.firstpara h4 {
  color: white;
  font-size: 25px;
  margin-top: 0.5rem;
}
/* .firstpara h4:hover {
  color: #262e67;
} */
.firstpara p {
  font-size: 15px;
  color: white;
  width: 80%;
}
/* .firstpara p:hover {
  color: #262e67;
} */

.fbphoto .fbphoto:hover {
  transition: 1s;
}

.photo {
  /* display: grid;
  grid-template-columns: 65% 35%; */
}
.secphoto {
  /* display: grid;
  grid-template-rows: 49% 49%; */
  height: inherit;
  /* gap: 2%; */
}
.secrobot {
  position: relative;
  height: 240px;
}
.firstphoto {
  width: 100%;
  height: 100%;
}
.firstphoto .tech-firstphoto {
  width: 100%;
  height: 30.5rem;
}
.fbphoto {
  width: 100%;
  height: 100%;
}
.secphoto .tecsecdiv-firstphoto {
  width: 100%;
  height: 15rem;
}
.robotphoto {
  width: 100%;
  height: 100%;
}

.robotpara {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 1rem;
  /* box-shadow: inset 10px -123px 51px -28px rgb(73 72 72 / 81%); */
  box-shadow: inset 10px -62px 30px 4px rgb(24 23 23 / 81%);
  padding-bottom: 1rem;
  padding-left: 1.875rem;
}
.robotpara h4 {
  font-size: 18px;
  color: white;
  margin-top: 0.5rem;
}

/* .robotpara h4:hover {
  color: #262e67;
} */
.secair {
  position: relative;
  height: 240px;
}
.airbudpara {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 1rem;
  /* box-shadow: inset 10px -123px 51px -28px rgb(73 72 72 / 81%); */
  box-shadow: inset 10px -62px 30px 4px rgb(24 23 23 / 81%);
  padding-bottom: 1rem;
  padding-left: 30px;
}
.airbudpara h4 {
  font-size: 18px;
  color: white;
  margin-right: 100px;
  margin-top: 0.5rem;
}
/* .airbudpara h4:hover {
  color: #262e67;
} */

.secair .tec-lastbannerphotos {
  width: 100%;
  height: 15rem;
}
.airbudphoto {
  width: 100%;
  height: 100%;
}
.tech-firstphoto img,
.secrobot img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tec-lastbannerphotos img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tech-firstphoto img:hover,
.secrobot img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.tec-lastbannerphotos img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.firstphoto .tech-firstphoto,
.secrobot {
  overflow: hidden;
}
.secair .tec-lastbannerphotos {
  overflow: hidden;
}
.firstphoto:hover .firstpara h4.technoloColor,
.secphoto:hover .robotpara h4.technoloColor,
.secair:hover .airbudpara h4.technoloColor {
  color: var(--technology-bg);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .firstpara p {
    display: none;
  }

  .firstpara {
    position: absolute;

    padding-top: 1rem;
    box-shadow: inset 10px -109px 30px 4px rgba(24 23 23 / 81%);
    padding-bottom: 1rem;
    padding-left: 40px;
    top: 12rem;
  }
  .firstphoto .tech-firstphoto {
    width: 100%;
    height: 20rem;
  }
}

/* style css  */
.css-19r6kue-MuiContainer-root {
  padding-left: 0px;
  padding-right: 0px;
}
