/* @import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Ultra&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header {
  background-color: rgb(209, 213, 212);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.homeheader {
  padding-top: 0rem;
  margin-bottom: 1rem;
}
.headertypo{
  color: #043062eb;
}
.home-banner-detail h3{
 color:#b3461aed ;
  letter-spacing: 3px;
}
.header-nav {
  display: flex;
}
.header-nav li {
  padding-left: 2rem;
}
.li-menu {
  display: flex;
}
.li-menu p {
  padding-left: 0.5rem;
}
.lang-logo {
  width: 10%;
}
.lang-log {
  display: flex;
  margin-left: 40rem;
}
.sec-lang-log {
  display: flex;
}
.sec-lang-log p {
  margin-left: 0.5rem;
}
.home-banner {
  background-image: url(/public/images/homeimgs/banner48.jpg);
  height: 45rem;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% right 0;
  position: relative;
  padding-top: 6rem;
}
.home-banner-detail {
  text-align: center;
}
.home-banner-detail h1 {

  font-family: "Heebo", serif;
  color: #043062eb;
 letter-spacing: 3px;
 font-weight: bold;
  padding-top: 3rem;
}
.home-banner-detail h3 {
  color: #6b3451;
  font-family: "Bowlby One";
  font-weight: 300;
  margin-top: 1rem;
}
#searchinput {
  margin-top: 1.5rem;
  padding: 0.6rem 30rem 0.6rem 2rem;
  border-radius: 3.1rem;
  max-width: 1600px;
}
.search-banner {
  max-width: fit-content;
  margin: 1rem auto;

  position: relative;
}
.search-button {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.3rem;
  background-color: transparent;
}
.searchiconbanner{
  position: absolute;
  top: 2.1rem;
  right: 1rem;
}
.banner-botton {
  position: absolute;
  bottom: 2rem;
  right: -321px;
}
.banner-botton h2 {
  font-size: 1.8rem;
  color: white;
  font-family: "Heebo";
  font-weight: 500;
  text-align: left;
}
.banner-botton p {
  text-align: left;
  width: 55%;
  color: white;
}
.header-bottom-line {
  display: block;
  margin-top: 1rem;
  width: 100%;
  border-top: black 3px solid;
}

.popular-header {
  
  max-width: 2000px;
}
.popular-now-line {
  display: block;
  width: 11.5rem;
  height: 2px;
  background-color: #f18510;
  margin-bottom: 1rem;
}
.popular-p {
  display: flex;
  margin-left: 0rem;
}
.popular-p p {
  margin-top: 0.5rem;
  padding: 5px 10px 0px 10px;
}

.popular-body {
  margin-top: 0rem;
  max-width: 1600px;
}

.whiteColor {
  color: white;
}


.popular-bignew h4 {
  font-size: 1.56rem;
  margin-top: 0.5rem;
}
.popular-secnew h4,
.popular-thirdnew h4,
.popular-fouthnew h4 {
  font-size: 1rem;
}
.mask-div {
  /* margin-right: 0.5rem; */
  /* padding-right: .5rem; */
  overflow: hidden;
  position: relative;
}
.mask-div .maskimgdiv {
  overflow: hidden;
  width: 100%;
  height: 30.5rem;
}

.maskimgdiv img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.maskimgdiv img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.mask-div .popular-bignew {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  /* left: 40px; */
  padding-top: 1rem;
  box-shadow: inset -11px -103px 52px -29px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 1.25rem;
}

.popular-bignew p {
  color: white;
  width: 100%;
}

.popular-secnew {
  position: absolute;
  bottom: 0rem;
  /* left: 20px; */
  width: 100%;
  padding-top: 1rem;
  box-shadow: inset 5px -134px 56px -77px rgb(14 13 13 / 81%);
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.popularsec-bg {
  width: 100%;
  background-color: #3d3b3b8f;
}
.popular-secnew p {
  color: white;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  font-family: "Ultra";
}

.travelpopular img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.travelpopular img:hover {
  transform: perspective(1000px) translateZ(150px);
}

.fashion-img img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fashion-img img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.secGrid2ndphoto .fashion-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.culture-img img {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.culture-img img:hover {
  transform: perspective(1000px) translateZ(150px);
}
.secGridfistphoto .travelpopular {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.secondGrid3rdphoto .culture-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* 
.popular-secnew p:hover {
  color: var(--health-bg);
} */
.popular-thirdnew {
  position: absolute;
  bottom: 0rem;
  /* left: 20px; */
  width: 97%;
  padding-top: 0.5rem;
  box-shadow: inset 5px -134px 56px -77px rgb(14 13 13 / 81%);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.popular-thirdnew p {
  color: white;
  font-size: 1rem;
  font-family: "Ultra";
}

.popular-fouthnew {
  position: absolute;
  bottom: 0rem;
  /* left: 20px; */
  width: 97%;
  padding-top: 0.5rem;
  box-shadow: inset 5px -134px 56px -77px rgb(14 13 13 / 81%);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.popular-fouthnew p {
  color: white;
  font-size: 1rem;
  font-family: "Ultra";
}

.first-grid {
  /* display: grid;
  grid-template-columns: 60% 40%; */
  overflow: hidden;
  transition: all 6s ease-in-out;
}

.sec-grid {
  padding-top: 0.5rem;
}
.sec-grid .secGrid2ndphoto {
  position: relative;
}
.sec-grid .secondGrid3rdphoto {
  position: relative;
}

.secGridfistphoto:hover .popular-secnew p {
  color: var(--travel-bg);
  transition: all 0.3s ease-in-out;
}
.secGrid2ndphoto:hover .popular-thirdnew p {
  color: var(--beauty-bg);
  transition: all 0.3s ease-in-out;
}
.secondGrid3rdphoto:hover .popular-fouthnew p {
  color: var(--history-bg);
  transition: all 0.3s ease-in-out;
}
.secGridfistphoto {
  position: relative;
}
.secGridfistphoto .travelpopular {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.secGrid2ndphoto .fashion-img {
  width: 100%;
  height: 10rem;
}
.secGrid2ndphoto .fashion-img image {
  display: block;
  width: 100%;
  height: 100%;
}
.secondGrid3rdphoto .culture-img {
  width: 100%;
  height: 10rem;
}
.secondGrid3rdphoto .culture-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.populartitle-white {
  color: #fff;
}
.populartitle-black {
  color: black;
}
/* style */
.css-19r6kue-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media screen and (max-width: 600px) {
  .bignewsdesc {
    display: none;
  }
  .mask-div .maskimgdiv {
    height: 10rem;
  }
  .secGridfistphoto .travelpopular {
    height: 10rem;
  }
  .home-banner {
    height: 20rem;
  }
  #searchinput {
    padding: 0.6rem 1rem 0.6rem 1rem;
  }
  .banner-botton {
    display: none;
  }
}
