.trvel-ban {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 25rem;
}
.ban-travel {
  position: relative;
  height: 25rem;
}
.t-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.642);
  cursor: pointer;
}
.t-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  padding: 0.93rem;
  /* text-align: center; */
}
.t-content p {
  font-size: 0.75rem;
}
.ban-travel:hover .t-info {
  opacity: 0.8;
}
.travel-top {
  display: flex;
  color: #747474;
}
.travel {
  padding-top: 0rem;
}
.travel-main h1 {
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  text-transform: uppercase;
}
.t_imagediv {
  height: 25rem;
}
.t_imagediv img {
  width: 100%;
  height: 100%;
}
