.ProHead {
  padding: 6rem 0 0;
}
.ProImg1 {
  margin: auto;
  text-align: center;
}
.ProImg1 img {
  margin: auto;
  width: 15rem;
  height: 15rem;
  border: 3px solid #000;
  border-radius: 50%;
}
.ProData {
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1.5rem;
}
.ProData span {
  line-height: 1rem;
  font-size: 24px;
  font-weight: 500;
}

.EdiProData {
  font-weight: 500;
  color: #fff;
  background-color: blue;
  padding: 1px 8px;
}
.Post-line {
  width: 150px;
}

.Delcolor {
  background-color: rgb(145, 14, 25);
}
.Editcolor {
  background-color: rgb(14, 21, 145);
}
.Probuttom {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  /* position: absolute; */
  bottom: 10px;
  right: 0px;
}
.DeleteS {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  padding: 1px 5px;
}
.ProAbout {
  /* border: 1px solid #000; */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 2rem;
  box-shadow: rgb(177 195 209) -2px 2px 8px 5px;
}
.postProfile {
  display: grid;
  grid-template-columns: 30% 65%;
  width: 100%;
  gap: 1.5rem;
  height: 220px;
  border-radius: 5px;
  box-shadow: rgb(177 195 209) -2px 2px 8px 5px;
}

.savenewinfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.About {
  padding: 20px;
}
.About h3 {
  text-align: center;
  margin: auto;
}
.ProAData {
  text-align: center;
  margin-top: 10px;
}
.About-line {
  margin: auto;
  width: 170px;
}

/* editprofile css */

.editboder {
  /* border: 1px solid rgb(171, 169, 169); */
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgb(171, 169, 169);
  border-top: 1px solid rgb(171, 169, 169);
  border-right: 1px solid rgb(171, 169, 169);
}
.editform {
  margin-top: 5.5rem;
  align-items: center;
  text-align: center;
}
.formdiv {
  align-items: center;
  text-align: center;
}

.editprofile {
  margin-top: 5rem;
}
.App {
  overflow: hidden;
}
.userimgdiv {
  margin-top: 3rem;
  width: 10rem;
  height: 10rem;
  position: relative;
}
.userimgdiv img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.formedit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userimage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid black;
}
.userimgname {
  display: flex;
  gap: 2rem;
}

.usernameadd {
  margin-top: 7rem;
}
.usernameadd h7 {
  color: gray;
}

.namebox .inputboxs {
  border: 1px solid rgb(227, 223, 223);
  padding: 5px 20px 5px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.infoform {
  /* display: flex;
  gap: 10rem;
   */

  /* margin-left: 30%; */
}
.editbutton {
  /* padding: 10px 40px 10px 40px;
  background-color: rgba(97, 157, 240, 0.895);
  border-radius: 10px; */
  width: 150px;
  height: 49px;
  border-radius: 49px;
  cursor: pointer;
  background-color: #2889a3;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}

.editbuttondiv {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.editsettitle {
  color: #15568e;
  padding-top: 2rem;
}
.namebox .addresstexta {
  border: 1px solid rgb(227, 223, 223);
  padding-right: 2.6rem;
  padding-top: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .editformuser{
  background-image: url(../../../public/images/all/usereditbg.jpg) ;
  background-size: cover;
  background-position: center;
} */

.editform {
  margin-top: 5rem;
}

.formInput {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.formInput input {
  /* border: 1px solid gray;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 5px; */
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #e7dfdf;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 85% 0%;
  padding-left: 2rem;
}

.smallinput {
  background-color: transparent;
}
.formInput ::placeholder {
  color: #000;
}
.formInput span {
  padding: 3px;
  color: red;
  display: none;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
.genderchoose {
  color: transparent;
}

.css-1s2u09g-control {
  background-color: transparent;
}
.genderbox .css-b62m3t-container {
  position: relative;
  /* background: transparent;
      border: 1px solid gray;
  border-radius: 5px; */
  right: 5.5rem;
  padding: 10px 90px;
  margin-top: 2rem;
}
.css-1s2u09g-control input {
  color: black;
}

.innerboxgender .css-1s2u09g-control {
  border: 1px solid gray;
  background: transparent;
}

.innerboxgender .css-1f43avz-a11yText-A11yText {
  border: 1px solid black;
}
.gendertitle {
  color: black;
}

.gendertitlediv {
  margin-top: 2rem;
  position: relative;
  right: 7.3rem;
}
.choosediv {
  margin-top: 1rem;
}
.choosediv input {
  margin-left: 10px;
}
.choosediv label {
  position: relative;
  bottom: 2px;
  left: 8px;
}
.formInput label {
  text-align: left;
}

.Profile-main {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background: rgb(223, 217, 217); */
}
.Profile_img {
  position: relative;
  height: 100%;
  padding: 10px;
}
.Profile_img img {
  width: 190px;
  height: 200px;
  border-radius: 5px;
}
.userProfile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Profilepostman {
  display: flex;
  gap: 1rem;
}
.profilecate {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Profile-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.postProfile_info {
  height: 100%;
  width: 95%;
  padding: 20px 0;
  position: relative;
}
.proFilebottom {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 0px;
  padding-bottom: 1rem;
}

/* post profile button design */
.posticon1 {
  position: relative;
}
.tooltip1 {
  font-size: 11px;
  /* line-height: 3px; */
  border: 1px solid transparent;

  border-radius: 25px;
  background-color: orange;
  padding: 2px 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.01);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.6, -0.55, 0.265, 1.55);
}
.tooltip1.topdel::before {
  content: " ";
  position: absolute;
  width: 11px;
  height: 11px;
  background: #87cac5;
  bottom: -7px;
  left: 37%;
  transform: translateX(-50%) rotate(45deg);
  /* z-index: -2; */
}
.topdel {
  position: absolute;
  bottom: 50px;
  /* top: 0px; */
  left: 0px;
}
.DeleteP,
.EditPost {
  font-size: 20px;
  color: #f83509;
  border: 1px solid #f83509;
  border-radius: 50%;
  padding: 2px 8px;
}
.DeleteP:hover,
.EditPost:hover {
  background: #f83509;
  color: #fff;
}
.posticon1:hover .tooltip1.topdel {
  bottom: 40px;
  /* top: 0px; */
  left: 0px;
  background-color: #87cac5;
  color: #a8132c;
  opacity: 1;
  pointer-events: auto;
}
.posticon1 button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.posticon1 button:focus::before {
  transform: scaleY(1.4) scaleX(1.6);
  overflow: hidden;
  opacity: 0;
}
.posticon1 button:focus {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.posticon1 button:active {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

.pendingTxt {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: red;
}
.savenewbar-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.article-save {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
}
.savenewimg {
  width: 100%;
  height: 90%;
  margin: auto;
}
.savenewimg img {
  width: 100%;
  height: 100%;
}
.savenewinfo h4 {
  font-size: 1rem;
}
.savenewbuttondate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
