.travel-top {
  display: flex;
  color: #747474;
}
.travel {
  padding-top: 6rem;
}
.travel-main h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .ban-travel {
    height: 15rem;
  }
  .t_imagediv {
    height: 15rem;
  }
  .travel {
    padding-top: 5.5rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .travel {
    padding-top: 7.5rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .travel {
    padding-top: 7.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .travel {
    padding-top: 7rem;
  }
}
