.postbg {
  background-color: #cdddffdb;
}
.postbg .firstdesc {
  /* padding: 5rem 0; */
  /* color: white; */
  color: black;
}
.formBody {
  padding-bottom: 1rem;
  position: relative;
}

.firstdesc h2 {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.firstdesc p {
  padding-bottom: 0.5rem;
  font-size: 18px;
}
.firstdesc pre {
  padding-bottom: 2rem;
  font-size: 1rem;
  padding-left: 2rem;
}

.firstdesc p::first-letter {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.formDiv {
  width: 100%;
  height: fit-content;
  margin: 2rem auto;
  background-color: #609cd536;
  padding-bottom: 5rem;
  position: relative;
}
.postForm {
  padding: 2rem 0;
}
.postForm .titleArea {
  width: 80%;
  height: 59px;
  display: block;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 16px;
  border-color: #bfbfbf;
  margin-top: 20px;
}

textarea:is(:focus, :valid) {
  border-width: 2px;
  border-color: #4671ea;
  padding: 14px;
}

textarea::-webkit-scrollbar {
  width: 0px;
}
.dataShow {
  width: 100%;
  background-color: #d0ede3;
}
.Dataresult {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.textLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.postButton {
  margin-top: 20px;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
  /* align-items; */
  text-transform: capitalize;
  font-weight: 500;
  background-color: #3256cfc2;
  color: white;
  position: absolute;
  bottom: 48px;
  right: 140px;
}
.ImgareaDiv {
  width: 100%;
  height: 200px;
}

.Imgarea {
  width: 25%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
.Imgarea .imgDiv1 {
  width: 180px;
  height: 100%;
  position: relative;
}
.imgDiv1 img {
  display: block;
  width: 180px;
  height: 200px;
}
.imgShow {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  margin: 3rem 0;
  align-content: center;
}

.imgDelete {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2rem;
  height: 2rem;
  background: red;
  color: white;
}
