.LifestyleSect {
  max-width: 1600px;
  margin-top: 1rem;
}
.postmanProfile1 {
  width: 30px;
  height: 30px;
}
.postmanProfile1 img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.lifestyles h1 {
  font-size: 0.93rem;
  border-bottom: #f18510 3px solid;

  margin-right: 25rem;
  margin-left: 2rem;
}
.postman1 {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.profileName1 {
  font-size: 0.93rem;
  font-weight: 500;
  color: rgb(136, 5, 5);
  margin: 0 25px 0 10px;
}
/* .profileName1:hover {
  color: #bb93e1;
} */
.postman1 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.lifestyles {
  width: 100%;
}
.Lifeline {
  display: block;
  width: 13.75rem;
  height: 2px;
  background-color: #f18510;
  margin-bottom: 1rem;
}
.Lifeline1 {
  display: block;
  width: 14rem;
  height: 2px;
  background-color: #f18510;
  margin-bottom: 1rem;
}
.homelifestylesmall{
  font-size: 16px;
}
.photo-ex1 {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.exercise-photo {
  position: relative;
}
.lifefirstphoto {
  position: relative;
}
.life-exbtn {
  position: absolute;
  left: 2rem;
  bottom: 20px;
}

.paragraph h4 {
  padding-top: 8px;
  width: 100%;
  line-height: 1.3;
}
.paragraph h4:hover {
  color: var(--lifestyles-bg);
}

.paragraph p {
  font-size: 16px;
  width: 100%;
  text-align: justify;
}

/* .paragraph p:hover {
  color: #8f43d5;
} */

#lifestyles-New {
  /* display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem; */
}


.honey-paragraph h4:hover {
  color: var(--lifestyles-bg);
}

.honey-paragraph p {
  font-size: 12px;
  width: 100%;
  margin-left: 0rem;
}
/* .honey-paragraph p:hover {
  color: #8f43d5;
} */

.food-paragraph h1 {
  font-size: 15px;
}
.food-paragraph h1:hover {
  color: var(--lifestyles-bg);
}

.food-paragraph p {
  font-size: 12px;
  width: 80%;
}
/* .food-paragraph p:hover {
  color: #8f43d5;
} */

.camera-photo {
  width: 95%;
  height: 7rem;
}

.camera-paragraph h1 {
  font-size: 15px;
}
.camera-paragraph h1:hover {
  color: var(--lifestyles-bg);
}

.camera-paragraph p {
  font-size: 12px;
  width: 80%;
}
/* .camera-paragraph p:hover {
  color: #8f43d5;
} */

/* .sponsered-1 {
  display: grid;
  grid-template-columns: 50% 50%;
} */

/* .sponsered-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.sponsered-3 {
  display: grid;
  grid-template-columns: 50% 50%;
} */

.thaw-1 {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
.honeyImg {
  width: 100%;
  height: 7rem;
  margin: auto;
}

.honey-1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.honey-1 {
  /* display: grid; */
  height: 150px;
  margin-bottom: 2rem;
  /* grid-template-columns: 50% 50%; */
}

.content h1 {
  font-size: 15px;
  border-bottom: #f18510 3px solid;
  margin-top: 2rem;
  margin-right: 20rem;
  margin-left: 0rem;
}
/* .content h1:hover {
  color: #8f43d5;
} */

.sponsered-1 p,
.sponsered-2 p,
.sponsered-3p {
  margin-top: 0.5rem;
}

/* .sponsered-3 p:hover {
  color: #8f43d5;
} */

.sponsered-1 h6 {
  margin-top: 1.5rem;
  margin-left: 0rem;
  font-size: 0.8rem;
  color: red;
}
/* .sponsered-1 h6:hover {
  color: #8f43d5;
} */

#icon-1 {
  color: black;
}

.sponsered-2 h6 {
  margin-top: 2rem;
  margin-left: 0.6rem;
  font-size: 0.8rem;
  color: red;
}
/* .sponsered-2 h6:hover {
  color: #8f43d5;
} */

#icon-2 {
  color: black;
}

.sponsered-3 h6 {
  margin-top: 3rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
  color: red;
}
/* .sponsered-3 h6:hover {
  color: #8f43d5;
} */

#icon-3 {
  color: black;
}

.sponsered-2 h3 {
  margin-top: -1.5rem;
  margin-left: 8rem;
  font-size: 0.8rem;
  color: black;
}

.sponsered-3 h3 {
  margin-top: -1.5rem;
  margin-left: 8rem;
  font-size: 0.8rem;
  color: black;
}
/* .sponsered-3 h3:hover {
  color: #8f43d5;
} */
/* style */
.css-19r6kue-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media screen and (max-width: 1200px) {
  .honey-1 {
    margin-bottom: 5rem;
  }
  .honeyImg {
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .honey-1 {
    margin-bottom: 5rem;
  }
  .honeyImg {
    height: 120px;
  }
}
