.sponsered {
  width: 100%;
}
/* .sponsered-1,
.sponsered-2,
.sponsered-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 6px;
} */

.sponsered-1,
.sponsered-2,
.sponsered-3{
  margin-bottom: 1rem;
}

.sponsered-1 img,
.sponsered-2 img,
.sponsered-3 img {
  display: block;
  width: 100%;
  height: 100%;
}
.beauty-photo,
.phone-photo,
.foodies-photo {
  width: 100%;
  height: 10rem;
}
.beauty-photo img,
.phone-photo img,
.foodies-photo img {
  width: 100%;
  height: 100%;
}

.sponserAll p {
  /* margin-top: 1rem; */
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.sponserBy {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.sponserBy #icon-3 {
  font-size: 18px;
}
.sponserBy .sponserText {
  font-size: 12px;
  color: red;
}
.sponserBy .sponserBefore {
  font-size: 14px;
  margin-left: 0.6rem;
}
@media screen and (max-width: 1200px) {
.beauty-photo,
.phone-photo,
.foodies-photo {
  height: 200px;
}
}
@media screen and (max-width: 600px) {
.beauty-photo,
.phone-photo,
.foodies-photo {
  height: 120px;
}
}
