.headerwrap a {
  color: white;
}

.headerPadding {
  padding: 0;
}
.nav-logo img {
  width: 100px;
  height: 80px;
  display: block;
  object-fit: cover;
  animation: myani 2s infinite linear alternate;
}

@keyframes myani {
  from {
    transform: rotate(8deg);
  }

  to {
    transform: rotate(-8deg);
  }
}
.headercolor {
  width: 100%;
  background-color: #15568e;
  position: fixed;
  z-index: 11;
  height: 5.5rem;
}
.headerwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
  /* padding: 1rem 0; */
  color: white;
}
.headerfirst {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}
.headerfirst li {
  padding: 0 2rem;
}
.headersecond {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.headersecond img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.subscribebtn {
  border: 2px solid white;
  padding: 8px 17px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.subscribebtn:hover {
  background-color: rgb(255, 174, 0);
  color: black;
}
.navli {
  padding: 0 2rem;
}
.language {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
}
.flexicons {
 
  height: 4.5rem;
}
a .hoverclor:hover {
  color: rgb(239, 145, 13);
  border-radius: 4px;
}
.dorpmenu-container {
  position: relative;
}

#dropdown-menu {
  position: absolute;
  top: 62px;
  right: -27px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
}
#dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}
#dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.5s ease;
  z-index: 1;
}
#dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease;
}
#dropdown-menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.2rem;
}

#dropdown-menu h3 span {
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

#dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#dropdown-menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

#dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img img {
  display: block;
  width: 100%;
  height: 100%;
}
#loginsetting {
  font-size: 25px;
  margin-left: 1rem;
}
.dropdownItem {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  color: black !important;
}

.headerwrap i,
.dropdownItem {
  font-size: 15px;
}

.dropdownItem a,
.dropdownItem button {
  max-width: 100px;
  margin-left: 10px;
  transition: all 500ms;
  color: black;
  background-color: transparent;
}
.headerwrap span {
  margin-left: 0.5rem;
  font-size: 17px;
}
.headerwrap .loginicon {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}
.uil-user:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 27px;
  margin: auto;
}
.homeMenu {
  position: relative;
}
.css-10hburv-MuiTypography-root {
  font-size: 1.1rem;
  font-weight: 500;
  color: #555;
}
@media screen and (max-width: 900px) {
  .login {
    margin-left: 40%;
  }
}

@media screen and (max-width: 600px) {
  #dropdown-menu::before {
    right: 30%;
  }
  #dropdown-menu {
    right: 0;
    width: 150px;
  }
  #dropdown-menu h3 {
    font-size: 14px;
    line-height: 1rem;
  }
  .dropdownItem a,
  .dropdownItem button {
    font-size: 12px;
  }
  .headerwrap i,
  .dropdownItem i {
    font-size: 18px;
    width: 18px;
  }
  .login {
    margin-left: 20%;
  }
  .nav-logo img {
    width: 90px;
    height: 70px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .nav-logo img {
    width: 90px;
    height: 70px;
  }
  .headerGrid {
    height: 100%;
    padding: 2% 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .navli {
    padding: 0rem;
  }

  .headericon {
    display: none;
  }
  .flex {
    gap: 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .navli {
    padding: 1rem;
  }

  .headericon {
    display: none;
  }
  .flex {
    gap: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .navli {
    padding: 0 1.3rem;
  }
}
