.busingallery {
  /* width: 1000px; */
  margin: 0 auto 1.5rem;
  height: 20rem;
  position: relative;
}

.gallery {
  width: 300px;
  height: 250px;
  border-radius: 2px;
  border: 1px solid #000;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
}
.gallery1 {
  top: 0;
  left: 0;
}
.gallery2 {
  top: 0;
  right: 0;
  z-index: 1;
}
.gallery3 {
  top: 40px;
  left: 20%;
}
.gallery4 {
  top: 60px;
  left: 40%;
}
.gallery5 {
  top: 40px;
  left: 60%;
  z-index: 2;
}
.gallery:hover {
  outline: 5px solid #044da7;
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.busingallery:hover .gallery:not(:hover) {
  transform: scale(0.9);
}
@media screen and (max-width: 1000px) {
  .busingallery {
    height: 17rem;
  }
  .gallery3 {
    top: 40px;
    left: 10%;
  }
  .gallery4 {
    top: 60px;
    left: 30%;
  }
  .gallery5 {
    top: 40px;
    left: 50%;
    z-index: 2;
  }
  .gallery {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 800px) {
  .busingallery {
    height: 15rem;
  }
  .gallery3 {
    top: 40px;
    left: 7%;
  }
  .gallery {
    width: 200px;
    height: 180px;
  }
  .gallery5 {
    top: 40px;
    left: 55%;
    z-index: 2;
  }
}
@media screen and (max-width: 600px) {
  .busingallery {
    height: 10rem;
  }
  .gallery {
    width: 150px;
    height: 120px;
  }
  .gallery3 {
    top: 40px;
    left: 15%;
  }
  .gallery5 {
    top: 40px;
    left: 55%;
    z-index: 2;
  }
  .gallery4 {
    top: 60px;
    left: 35%;
  }
}
