.searchpage {
  max-width: fit-content;
  padding-top: 6rem;
  position: relative;
}
.searchbutton {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1.5rem;
  background-color: transparent;
}
#searchinputpage {
  margin-top: 1.5rem;

  padding: 0.6rem 30rem 0.6rem 4rem;
  max-width: 1600px;
  border: 1px solid gray;
  box-shadow: rgba(92, 94, 97, 0.3) 0px 1px 2px 0px,
    rgba(120, 122, 124, 0.15) 0px 2px 6px 2px;
}
.vartdiv {
  position: relative;
}

.varticalline {
  position: absolute;
  width: 2px;
  height: 2rem;
  right: 5rem;
  bottom: 0.4rem;
  background-color: black;
}
.textinsearchdiv {
  position: relative;
}
.textinsearch {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-weight: bold;
}
/* article */

.searcharticle-maindiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.search-buttonimg {
  position: relative;
}
.search-article-button {
  position: absolute;
  bottom: 0rem;
}
.search-article-para {
  margin-top: 0.5rem;
}
.search-article-para h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
.search-article-para p {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}
.search-img1 {
  width: 100%;
  height: 12rem;
}
.search-img1 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img2 {
  width: 100%;
  height: 12rem;
}
.search-img2 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img3 {
  width: 100%;
  height: 12rem;
}
.search-img3 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img4 {
  width: 100%;
  height: 12rem;
}
.search-img4 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img5 {
  width: 100%;
  height: 12rem;
}
.search-img5 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img6 {
  width: 100%;
  height: 12rem;
}
.search-img6 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img7 {
  width: 100%;
  height: 12rem;
}
.search-img7 img {
  width: 100%;
  height: 100%;
  display: block;
}
.search-img8 {
  width: 100%;
  height: 12rem;
}
.search-img8 img {
  width: 100%;
  height: 100%;
  display: block;
}
.searchpagenext {
  margin-top: 2rem;
  margin-left: 40%;
}

/*css*/

.product {
  margin-top: 2rem;
  width: 100%;
  height: 24rem;
  transition: all 0.5s;
  position: relative;
}

.product .product-img {
  width: 100% !important;
  height: 20rem;
  transition: all 1s;
}
.product .product-img:hover {
  transform: perspective(1000px) translateZ(150px);
}

.product:hover {
  transform: translateY(-6px);
}
.searchbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  /* height: 26rem; */
}
.title_desc {
  margin-top: 1rem;
}
